body{
    color:#00ffb3 ;
    background-color:#ff6600 ;
    margin: 0px;
    margin-bottom: 100px;
    }
    
    header{
        border-bottom: solid 2px #ffee00 ;
        margin: 20px;
        font-size: 32px;
        color: rgb(61, 238, 135);
    }
    
    section{    
    padding-bottom: 80px;
    padding-top: 80px;
    background: rgb(0, 255, 170);
    display: flex;
    justify-content: center;
    }
    
    h1{
    color:#ff00d4 ;
    font-size: 40px;
    }
    
    p{
        font-size: 20px;
    }
    
    .categoria{
    padding-left: 20px;
    padding-right: 20px;
    
    }
    
    .categoria-videos {
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }
    
    img{
        height: 200px;
    }
    
    .categoria-videos img{
        opacity: 0.5;
        height: 200px;
    }
    
    .categoria-videos img:hover{
    opacity:1.0;
    border: 3px solid #a200ff;
    
    }
    
    .categoria h2{
    color: #ff009d;
    
    }
    
    .chamada-texto{
        margin-right: 1%;
        text-align: center;
        padding: 20px;
        background-color: #0c0c0c;
        color: #c6a974;
    }